.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 20px;
  }
  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 0px 90px;
    .project {
      width: 33.333%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 500ms ease-in-out;
      }
      h3 {
        color: var(--primary-color);
        opacity: 0;
        transition: all 400ms ease-in-out;
        top: 70px;
        position: absolute;
      }
      p {
        color: var(--secondary-color);
        opacity: 0;
        transition: all 400ms ease-in-out;
        top: 100px;
        position: absolute;
      }
      button {
        bottom: 70px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        padding: 10px 30px;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--primary-color);
        background: none;
        border: 2px solid var(--secondary-color);
        transition: all 400ms ease-in-out;
        cursor: pointer;
        &:hover {
          color: #ffffff;
          background-color: var(--secondary-color);
        }
      }
      &:hover img {
        opacity: 0;
      }
      &:hover h3 {
        opacity: 1;
        animation: move-down_1 1200ms normal;
      }
      &:hover p {
        opacity: 1;
        animation: move-down_2 1200ms normal;
      }
      &:hover button {
        opacity: 1;
        animation: move-up 1200ms normal;
      }
      @keyframes move-down_1 {
        0% {
          top: 0px;
        }
        100% {
          top: 70px;
        }
      }
      @keyframes move-down_2 {
        0% {
          top: 0px;
        }
        100% {
          top: 100px;
        }
      }
      @keyframes move-up {
        0% {
          bottom: 0px;
        }
        100% {
          bottom: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 80px 0px;
    h1 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    .projectsContainer {
      display: flex;
      flex-direction: column;
      padding: 0px 0px;
      .project {
        width: 100%;
        max-width: 500px;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
