
.hiddenStyle {
  transform: translateY(-110%);
  transition: transform 0.5s ease;
}
.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  background: #ffffff;
  transform: translateY(0);
  transition: transform 0.5s ease;
  .leftContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    .nameContainer {
      display: flex;
      align-items: center;
      .circle {
        background-color: var(--secondary-color);
        border-radius: 50px;
        width: 30px;
        height: 30px;
        padding: 5px;
        color: #ffffff;
        font-size: 30px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        margin-left: 8px;
        font-size: 22px;
        span {
          font-weight: bold;
        }
      }
    }
  }
  .rightContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 40px;
    ul {
      display: flex;
      align-items: center;
      li {
        list-style-type: none;
        margin-left: 45px;
      }
    }
    i {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 10px 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    .leftContainer {
      .nameContainer {
        .circle {
          width: 25px;
          height: 25px;
          padding: 3px;
          font-size: 22px;
        }
        p {
          margin-left: 6px;
          font-size: 18px;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .rightContainer {
      ul {
        display: none;
      }
      i {
        display: block;
      }
    }
  }
}
