.container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 15px 0px;
  display: flex;
  .leftContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    .nameContainer {
      display: flex;
      align-items: center;
      .circle {
        background-color: var(--secondary-color);
        border-radius: 50px;
        width: 30px;
        height: 30px;
        padding: 5px;
        color: #ffffff;
        font-size: 30px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        margin-left: 8px;
        font-size: 22px;
        span {
          font-weight: bold;
        }
      }
    }
  }
  .rightContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    padding-right: 40px;
    ul {
      display: flex;
      align-items: center;
      li {
        list-style-type: none;
        margin-left: 45px;
      }
    }
    .menuIcon {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 10px 0px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    .leftContainer {
      padding-left: 20px;
      .nameContainer {
        .circle {
          width: 25px;
          height: 25px;
          padding: 3px;
          font-size: 22px;
        }
        p {
          margin-left: 6px;
          font-size: 18px;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .rightContainer {
      padding-right: 20px;
      ul {
        display: none;
      }
      .menuIcon {
        display: block;
        width: 20px;
      }
    }
  }
}
